<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="query service">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-6.1</platform>
        <feature>restfulWS</feature>
        <feature>jsonp</feature>
        <feature>jsonb</feature>
        <feature>cdi</feature>
        <feature>mpConfig</feature>
    </featureManager>

    <variable defaultValue="9081" name="http.port"/>
    <variable defaultValue="9444" name="https.port"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${http.port}"
                  httpsPort="${https.port}"
                  host="*"/>

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="/" location="guide-grpc-intro-query.war"/>

    <logging consoleLogLevel="INFO"/>
</server>